/* line 5, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  padding-top: 76px;
  background-color: HSL(36, 28%, 93%);
}
/* line 7, ../sass/style.scss */
body .main {
  position: relative;
  z-index: 2;
}
/* line 10, ../sass/style.scss */
body .main .aside-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 290px;
  background-color: HSL(208, 41%, 65%);
}
/* line 19, ../sass/style.scss */
body .main .aside-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 290px;
  background-color: white;
}

/* line 30, ../sass/style.scss */
header {
  height: 76px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
  z-index: 1;
}
/* line 39, ../sass/style.scss */
header .opt-center {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align: center;
  text-align: center;
}
/* line 47, ../sass/style.scss */
header .opt-center .logo {
  line-height: 76px;
  margin: 0 auto;
  font-size: 2rem;
  color: HSL(208, 41%, 65%);
  display: inline-block;
}
/* line 54, ../sass/style.scss */
header .opt-center .logo a {
  color: HSL(208, 41%, 65%);
}
/* line 61, ../sass/style.scss */
header .opt-right {
  width: 290px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
/* line 67, ../sass/style.scss */
header .opt-right .float-right {
  float: right;
  width: 80px;
  text-align: center;
}
/* line 71, ../sass/style.scss */
header .opt-right .float-right img {
  width: 40px;
  display: inline-block;
  margin: 18px;
  border-radius: 10px;
}
/* line 81, ../sass/style.scss */
header .opt-right .float-left {
  float: left;
}
/* line 83, ../sass/style.scss */
header .opt-right .float-left input {
  width: 160px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  line-height: 40px;
  margin: 18px;
  padding-left: 10px;
  font-size: 1rem;
}
/* line 96, ../sass/style.scss */
header .opt-left {
  width: 290px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
/* line 102, ../sass/style.scss */
header .opt-left a {
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #4d4d4d;
  transition: all 0.3s ease;
}
/* line 114, ../sass/style.scss */
header .opt-left .float-left {
  float: left;
  width: 80px;
  border-right: 1px solid #e6e6e6;
  height: 76px;
}
/* line 119, ../sass/style.scss */
header .opt-left .float-left a {
  margin: 18px;
  font-size: 1rem;
  background-color: HSL(208, 41%, 65%);
  color: #fff;
}
/* line 128, ../sass/style.scss */
header .opt-left .float-right {
  float: left;
  height: 76px;
}
/* line 131, ../sass/style.scss */
header .opt-left .float-right ul {
  float: left;
  margin: 8px;
  font-size: 1rem;
}
/* line 135, ../sass/style.scss */
header .opt-left .float-right ul li {
  float: left;
  padding: 10px;
}
