/* line 5, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  padding-top: 76px;
  background-color: HSL(36, 28%, 93%);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* line 8, ../sass/style.scss */
body .main {
  position: relative;
  z-index: 0;
}
/* line 12, ../sass/style.scss */
body .main .content {
  padding: 0 22%;
}
/* line 16, ../sass/style.scss */
body .main .content .nav-bar {
  padding: 20px 0px;
}
/* line 20, ../sass/style.scss */
body .main .content .main-content {
  padding: 20px 20px 20px 70px;
  background-color: white;
}
/* line 23, ../sass/style.scss */
body .main .content .main-content footer {
  padding: 15px 0px;
  overflow: hidden;
}
/* line 26, ../sass/style.scss */
body .main .content .main-content footer small {
  color: #999999;
}
/* line 29, ../sass/style.scss */
body .main .content .main-content footer a {
  color: #999999;
  text-decoration: none;
}
/* line 33, ../sass/style.scss */
body .main .content .main-content footer ul {
  float: left;
}
/* line 36, ../sass/style.scss */
body .main .content .main-content footer li {
  display: inline;
  float: left;
  padding: 0 10px;
}
/* line 42, ../sass/style.scss */
body .main .content .main-content footer span {
  float: right;
}
/* line 46, ../sass/style.scss */
body .main .content .main-content main {
  padding: 15px 0px;
}
/* line 48, ../sass/style.scss */
body .main .content .main-content main p {
  color: #8c8c8c;
  font-size: 0.9rem;
  line-height: 140%;
}
/* line 57, ../sass/style.scss */
body .main .content .main-content .header {
  padding: 15px 0px;
}
/* line 59, ../sass/style.scss */
body .main .content .main-content .header small {
  color: #b3b3b3;
  font-size: 0.9rem;
}
/* line 63, ../sass/style.scss */
body .main .content .main-content .header span {
  float: right;
}
/* line 66, ../sass/style.scss */
body .main .content .main-content .header h1 {
  display: inline-block;
}
/* line 68, ../sass/style.scss */
body .main .content .main-content .header h1 a {
  text-decoration: none;
}
/* line 70, ../sass/style.scss */
body .main .content .main-content .header h1 a strong {
  color: black;
  font-weight: bold;
}
/* line 79, ../sass/style.scss */
body .main .content article {
  background-color: white;
  border-bottom: solid 1px #eee;
}
/* line 82, ../sass/style.scss */
body .main .content article .image {
  position: absolute;
  top: 40px;
  left: 10px;
}
/* line 86, ../sass/style.scss */
body .main .content article .image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/* line 93, ../sass/style.scss */
body .main .content .menu {
  background-color: white;
}
/* line 96, ../sass/style.scss */
body .main .content .menu a {
  text-decoration: none;
}
/* line 98, ../sass/style.scss */
body .main .content .menu a h3 {
  color: #cccccc;
  padding: 6px 0;
}
/* line 103, ../sass/style.scss */
body .main .content .menu a p {
  color: black;
  font-weight: bold;
}
/* line 108, ../sass/style.scss */
body .main .content .menu li {
  display: inline-block;
  width: 24.5%;
  text-align: center;
  padding: 25px 0;
}
/* line 116, ../sass/style.scss */
body .main .aside-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 290px;
  background-color: HSL(208, 41%, 65%);
}
/* line 124, ../sass/style.scss */
body .main .aside-left .profile {
  text-align: center;
  padding: 20px;
}
/* line 127, ../sass/style.scss */
body .main .aside-left .profile strong {
  font-size: 1rem;
  font-weight: bold;
}
/* line 131, ../sass/style.scss */
body .main .aside-left .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* line 136, ../sass/style.scss */
body .main .aside-left .profile a {
  text-decoration: none;
}
/* line 139, ../sass/style.scss */
body .main .aside-left .profile p {
  padding: 10px;
  color: black;
  font-size: 0.8rem;
}
/* line 144, ../sass/style.scss */
body .main .aside-left .profile .button {
  height: 40px;
  display: inline-block;
  width: 160px;
  background-color: HSL(207, 33%, 57%);
  border-radius: 30px;
  color: #f2f2f2;
  line-height: 40px;
  font-size: 0.8rem;
}
/* line 156, ../sass/style.scss */
body .main .aside-left .gallery {
  padding: 20px 0;
}
/* line 158, ../sass/style.scss */
body .main .aside-left .gallery img {
  max-width: 100%;
}
/* line 162, ../sass/style.scss */
body .main .aside-left .gallery .photo {
  display: inline-block;
  height: 93px;
  width: 93px;
}
/* line 171, ../sass/style.scss */
body .main .aside-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 290px;
  background-color: white;
}
/* line 179, ../sass/style.scss */
body .main .aside-right h1 {
  padding: 20px 0;
  color: gray;
}
/* line 184, ../sass/style.scss */
body .main .aside-right .links {
  padding: 20px;
}
/* line 188, ../sass/style.scss */
body .main .aside-right a {
  display: block;
  color: HSL(208, 41%, 65%);
}

/* line 196, ../sass/style.scss */
header {
  height: 76px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
  z-index: 1;
  border-bottom: solid 2px #eee;
}
/* line 206, ../sass/style.scss */
header .opt-center {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align: center;
  text-align: center;
}
/* line 214, ../sass/style.scss */
header .opt-center .logo {
  line-height: 76px;
  margin: 0 auto;
  font-size: 2rem;
  color: HSL(208, 41%, 65%);
  display: inline-block;
}
/* line 221, ../sass/style.scss */
header .opt-center .logo a {
  color: HSL(208, 41%, 65%);
}
/* line 228, ../sass/style.scss */
header .opt-right {
  width: 290px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
/* line 234, ../sass/style.scss */
header .opt-right .float-right {
  float: right;
  width: 80px;
  text-align: center;
}
/* line 238, ../sass/style.scss */
header .opt-right .float-right img {
  width: 40px;
  display: inline-block;
  margin: 18px;
  border-radius: 10px;
}
/* line 248, ../sass/style.scss */
header .opt-right .float-left {
  float: left;
}
/* line 250, ../sass/style.scss */
header .opt-right .float-left input {
  width: 160px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  line-height: 40px;
  margin: 18px;
  padding-left: 10px;
  font-size: 1rem;
}
/* line 263, ../sass/style.scss */
header .opt-left {
  width: 290px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
/* line 269, ../sass/style.scss */
header .opt-left a {
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #4d4d4d;
  transition: all 0.3s ease;
}
/* line 281, ../sass/style.scss */
header .opt-left .float-left {
  float: left;
  width: 80px;
  border-right: 1px solid #e6e6e6;
  height: 76px;
}
/* line 286, ../sass/style.scss */
header .opt-left .float-left a {
  margin: 18px;
  font-size: 1rem;
  background-color: HSL(208, 41%, 65%);
  color: #fff;
}
/* line 295, ../sass/style.scss */
header .opt-left .float-right {
  float: left;
  height: 76px;
}
/* line 298, ../sass/style.scss */
header .opt-left .float-right ul {
  float: left;
  margin: 8px;
  font-size: 1rem;
}
/* line 302, ../sass/style.scss */
header .opt-left .float-right ul li {
  float: left;
  padding: 10px;
}
